.spellbook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.spellbook-container h1 {
    margin-bottom: 1rem;
}

.spell-filter-box {
    width: 90%;
    max-width: 850px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 1rem;
}
.spell-search {
    max-width: 500px;
}
.spell-search input {
    width: 400px;
    padding: 2px;
}
.level-filter {
    width: 75px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.known-filter {
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.prepared-filter {
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.reset-filter {
    width: 50px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.spell-table {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: sans-serif;
}

.spell-table th {
    background-color: #3a2005;
    border: 2px solid #7a4504;
    padding: 8px;
    text-align: center;
}

.spell-table td {
    border: 1px solid #7a4504;
    padding: 8px;
}

.spell-table tr:hover {
    background-color: rgb(74, 84, 93);
}